*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
header{
   background-image: url(../images/image\ 18.png); 
   background-position: center;
   background-size:cover ;
   background-repeat: no-repeat;
   height: 500px;
      
}
.container{
    width: 75%;
    margin: 0 auto;
    /*background-color: black;*/
}
.navbar{
    display: flex;
    justify-content: space-between;
    padding: 10px 0 0;
}
.linkler{
    display: flex;
    gap: 10px;    
}
.linkler a{
    color: #fff;
}
.informationbox
{
    width: 550px;
    color: #fff;
    margin: 150px 0 0;
    
}
.informationbox p{
    color: #FFFFFF;
    text-transform: uppercase;
    font-size: 13px;
    
}
.informationbox h2{
  margin: 20px 0 50px ;
}
.button{
   display: inline-block;
   padding: 15px 40px;
   border-radius: 5px;
   border: none;
   text-align: center;
   background-color: #0193DC;
   color: #fff;
   cursor: pointer;
}
.videopart{
    margin: 50px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}
.videopart img{
   width: 350px;
   height: 300px;
   border-radius: 5px;
}
.informationofvideopart p{
 margin: 50px 0;
}
.bg-container{
    background-color: #F9FBFD;
}
.Profilpart{
    width: 400px;
    border-right: 2px solid #c3c7ca;
    padding: 70px 30px;
    margin:30px 0 ;
}
.section3{
    display: flex;
    justify-content: space-between;
    align-items: center ;
}
.Profilpart p{
    margin: 20px 0;
}   
.box{
    width: 250px;
    height: 250px;
    /*border: 1px solid #000;*/
    background-color: #FFF;
    padding: 20px 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px  #d3d0d0;
}
.box h3{
    margin: 10px 0 ;
}
.boxes{
    width: 550px;
    display: flex;
    flex-wrap: wrap ;
    gap: 20px;
    margin: 30px 0;
}
.icon{
    background-color: #fff;
     border-radius: 50%;}
    
.icon img{
    border-radius: 50%;
}
.searching{
    margin: 30px 0;
    display: flex;
    align-items: center;
    gap: 30px;
}
input {
    padding: 10px;
    width: 40%;
}
.boxesofagenda{
   
    width: 500px;
    /*border: 1px solid black;*/
    display: flex;
    flex-direction: column;
    gap: 20px;
   box-shadow: 0 0 2px #c8c9ca;
    border-right: 1px solid #c8c9ca;
    /*margin: 20px 0;*/
}
.agendabox{
    width: 100%;
    height: 150px;
   /* border: 2px solid black;*/
    display: flex;
    gap: 20px;
}
.agendaimg img{
    width: 150px;
    height:100% ;
}
.aggendainformationp{
    margin: 20px 0;

}
.agendainformation p{
    color: #c3c7ca;
}
.qutu{
    padding: 20px 0;
    display: flex;
    gap: 30px;
    
}
.boxesofagenda2{
    /*border: 1px solid black;*/
    padding: 0 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.iconboxes{
   /* border: 10px solid black;*/
    display: flex;
    width: 250px;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.iconimg img{
    width: 30px;
    height: 30px;
}
.iconinformation{
    width: 250px;
}
.iconinformation .date{
    color: #c3c7ca;
    font-weight: 100;
}
.iconinformation p{
    font-weight: bold;
}
.gallery-bg{
    background-color: #d2cbcb;
    margin: 60px 0;
    padding: 70px 0;
    
}
.gallery-bg .container h2{
        padding: 30px;
}
.galleryboxes{
    margin: 50px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;   
    flex-wrap: wrap;
}
.gallerybox
{ 
    width: 320px;
    height: 320px;
    flex-wrap: wrap;
    border-radius: 0%;
}
.sekil img{
    width: 100%;
    height: 100%;
}
.gallery-bg {
  background-color: #eae2e2;
  margin: 60px 0;
  padding: 70px 0;
}
.gallery-bg .container {
  text-align: center; 
}
.gallery-bg .button {
  margin-top: 30px;
}
.gallery-bg .container h2 {
  text-align: left;
}
footer{
    margin: top 20px;
    padding: 20px 0;
  background-color: #eae2e2;
}
.informationsection1,
.informationsection2,
.informationsection3{
    border:1px solid black;
    width: 200px;
}
.txttop{
    margin: 0 0 10px ;
}
.centertxt{
    margin:10px 0 0 ;
}

.footersection{
    border: 1px solid black;
    display: flex;
}


