table{
    width: 90%;
    margin: 50px auto;
    border-collapse: collapse;
    background-color: rgb(100, 104, 149);
    text-align: center;
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
table, th, td {
    border:5px solid black;
    border-collapse: collapse;
    padding: 10px;
}
td:hover{
    background-color: blueviolet;
}