*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}
header{
    background-color: #1B5871;
}
main{
    background-color: #1B5871;
}
.container{
    width: 90%;
    margin: 0 auto;
}
.navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    border-bottom: 1px solid grey;
    i{
        color:#0C91FC;
    }
}
.navigation2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    i{
        color:#0C91FC;
    }
}
.country{
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
    a{
        color: white;
    }
}
.linkler{
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
    a{
        color: white;
    }
}
.Заказать-btn{
    padding: 10px 15px ;
    border: 1px solid #A3D8FF;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
     background: linear-gradient(45deg, #69BDF9 0%,#69BDF9 34%);
    a{
        color: white;
    }
}

/* main hissseyedekiler */
.section1{
    color: white;
    display: flex;
    justify-content: space-between;
}
.Оборудование{
    width: 40%;
    font-size: 50px;
}
.box3{
    display: flex;
    align-items: center;
    /* border: 1px solid black; */
}
.box3_1{
    margin: 20px 0;
    display: flex;
    gap: 20px;
    align-items: center;
    /* border: 1px solid  black; */
  
}
.icon-info{
    width: 30%;
}
.box3_1-imgae{
 /* border: 1px solid black;  */
 background-image: linear-gradient(to right, #314755 0%, #26a0da  51%, #314755  100%);
 box-shadow: 0 0 5px #eee;
 padding: 15px;
 border-radius: 5px;
 
 i{
    font-size: 35px;
 }
}
.Получить-section {
    padding: 4px;
    width: 250px; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
    background-image: linear-gradient(to right, #314755 0%, #2187b6 51%, #314755 100%);
    box-shadow: 0 0 5px #eee;
    margin: 20px 0;

}
.Получить {
    width: 70%;
    color: white;
    font-size: 16px;
  
    /* background-color: red; */

}
.direction{
    width: 55px;
    height: 55px;
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    background-color: #388bcf;
    border-radius: 23px;
}
.videoboxes{
    display: flex;
    gap: 20px;
}
.videobox{
  border: 1px solid rgb(147, 146, 146);
  border-radius: 15px;
    img{
        width: 100%;
        object-fit: cover;
       
    }
}
.video-img{
    position: relative;   
}
.play-btn{
      position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
   font-size: 30px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  background-color: rgba(163, 9, 9, 0.9);
  border-radius: 50%;
}
.video-img {
    width: 350px;
    height:200px;
    /* border: 1px solid black ; */

}

.icon{
    font-size: 40px;
    /* border: 1px solid black ; */
    position: relative;
    i{  
        /* border: 1px  solid black; */
        width: 60px;
        height: 60px;
        padding: 10px;
        background-color: ;
        border-radius: 50%;
        position: absolute;
        top: 5px;
        left: 10px;
        background-color:#10739b;
        box-shadow: 0 0 5px white;
    }
}

