* {
  margin: 0;
  padding: 0;
  font-family: "open_sans", sans-serif;
  box-sizing: border-box;
}
@font-face {
  font-family: "open_sans";
  src: url(./font/Open_Sans/static/OpenSans-Bold.ttf);
}

.container {
  width: 100%;
  height: 100vh;
  background: #e3f9ff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.calculator {
  background-color: rgb(19, 19, 19);
  padding: 20px;
  border-radius: 10px;
}
.calculator form input {
  border: 0;
  outline: 0;
  width: 60px;
  height: 60px;
  border-radius: 10px;
  box-shadow: -8px -8px 15px rgba(111, 132, 54, 0.245),
    5px 5px 15px rgba(0, 0, 0, 0.2);
  background: transparent;
  font-size: 15px;
  color: #fff;
  cursor: pointer;
  margin: 2px;
}

form .display {
  display: flex;
  justify-content: flex-end;
}

form .display input {
  flex: 1;
  text-align: right;
  font-size: 20px;
  box-shadow: none;
}
form input:hover {
  background-color: rgb(45, 46, 46);
  transition: 0.3s;
  box-shadow: -8px -8px 15px rgba(112, 132, 57, 0.21),
    5px 5px 15px rgba(0, 0, 0, 0.2);
}
/* }
form input.equal {
  width: 125px;
}
form input.operator {
  color: rgb(46, 20, 20);
} */
/* 
.operator.cleanall {
  background-color: rgb(60, 59, 59);
} */
