*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    text-decoration: none;
    list-style: none;
}
.navigation{
    padding: 10px 50px;
    background-color: #1e3a8a;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.leftside{
    display: flex;
    justify-content: center;
    gap: 10px;
}
.leftside a{
 color: white;
}
.navigation img{
    width: 20px;
    height: 20px;
}
.sosialmedia{
    display: flex;
    justify-content: center;

}
.sosialmedia {
    gap: 10px;
}
.navbar{
    margin: 20px 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.rightside{
    display: flex;
    
}
.bashliq{
    color:rgb(71, 111, 192);
    font-size: 40px;
}
.linkler  {
display: flex;
gap: 30px;
font-size: 20px;
}
.linkler a{
    color: #1e3a8a;
}
.rightside {
    gap: 10px;
}
.rightside img{
    width: 20px;
    height: 20px;
}
.advertisment {
    background-image: url(../images/banner_img_02.jpg);
    background-color: rgb(241, 238, 238);
    width: 100%;
    height: 500px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    padding: 100px;
}
.text{
   width: 450px;
   font-size: 28px;
}
.text h3,h2,p{
    margin: 10px 0;   
}
.text h3{
    font-size:25px ;
}
.text p{
    font-size: 22px;
}
.Catagories{
    padding: 40px ;
    width: 100%;
    text-align: center;
    
}
.catagptyofmonth{
      font-size: 30px;
}
.info{
    font-size: 15px;
}
.conatiner{
    padding: 0 0 40px;
    width: 1200px;
    margin: 0 auto;
    
}
.boxes{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 50px;

}
.box img{
    width: 250px;
    height: 250px;
    border-radius: 50%;
}
.box p{
    font-weight: bold;
    font-size: 20px;
}
.box .button {
    padding: 10px 0;
    background-color: #52b661;
    color: white;
    width: 150px;
    height: 40px;
    margin: auto;
}
.informationofproducts{
 width: 100%;
 padding: 20px;
 background-color: rgb(227, 237, 252);
 text-align: center;
}
.informationofproducts .container{
    margin: 50px;
}
.product{
    width: 300px;
    background-color: white;
}
.product img{
    width: 100%;
    height: 250px;
}
.products{
    display: flex;
    justify-content: center;
    gap: 30px;
    text-align: left; 
}
.product h2 {
   margin: 20px 20px 0 ;
}
.product p{
    margin: 0 20px;
}
.product .review{
    margin: 30px 20px;
    color: lightgrey;
}
.lastpart{
    background-color: #081a4d;
    padding: 20px 50px;
    color: white;
}
.border{
   /* background-color: black;*/
    display: flex; 
    justify-content: space-between; 
    font-size: 20px;
    margin: 20px auto;
}
.footer-col h3{
    font-size: 35px;
}
.footer-col a{
    color: white;
}
.footer-col li,p{
    margin: 20px 0;
}