* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
}

.posts {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.post {
  font-family: Arial, Helvetica, sans-serif;
  padding: 10px;
  border: 2px solid;
}

.post h2 {
  font-size: 16px;
}
.post p {
  font-size: 13px;
}

.post img {
  width: 100%;
  height: 200px;
}
