*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
.navigation{
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content:space-around;
    align-items: center;
     
}
.linkler{
    display: flex;
    gap: 40px;
}
.linkler a{
    color:rgb(4, 4, 81);
}
.linkler a:hover{
    color: rgb(255, 166, 0);
}
.bg{
    height: 1000px;
    background-image: url(../images/home-banner.jpg);
    background-image: cover;
}
.cover{
    padding: 200px 0;
    text-align: center;
    
}
.sentence{
    display: block;
    font-size: 20px;
    text-transform: uppercase;
    color:rgb(4, 4, 81);
}
.bashliq{
    font-size: 50px;
    text-transform: uppercase;
    color:rgb(4, 4, 81);
    margin: 20px 0 20px;

}
.buttons{
    display: flex;
    gap: 20px;
    padding: 20px 0;
    justify-content: center;
    align-items: center;
}
.button1{
    padding: 15px 40px;
    color: rgb(255, 166, 0);
    background-color: rgb(4, 4, 81);
    border-radius: 5px;
    font-weight: bold;
}
.button1:hover{
    background-color:  rgb(255, 166, 0);
    color:  rgb(4, 4, 81);;
}
.button2:hover{
    background-color:rgb(4, 4, 81); 
    color:rgb(255, 166, 0); ;
}
.button2{
    padding: 15px 40px;
    color: rgb(4, 4, 81);
    background-color: rgb(255, 166, 0);
    border-radius: 5px;
    font-weight: bold;
}
.info{
   margin: 60px;
   /*background-color: red;*/
   text-align: center;
}
.info h2{
    margin: 10px 0;
    font-size: 30px;
}
.info p{
    margin: 10px 0;
    font-size: 18px;
    font-style: italic;
}
.container{
    width: 1200px;
    margin: 50px auto;
   /* background-color: red;*/
}
.boxes{
    /*background-color: red;*/
    display: flex;
    justify-content: space-around;
    gap:50px ;
    margin: 20px 0;

}
.box{
    padding:30px;
    font-size: 20px;
    background-color: rgb(235, 241, 248);
}
.box h3{
    margin: 10px 0;
}
.box:hover{
    box-shadow:0 0 20px #aaabac;
    transition: 0.3s;
}
.img-box{
    
    background-color:rgb(235, 241, 248);
    width: 350px;
}
.img-box:hover{
    box-shadow:0 0 20px #aaabac;
    transition: 0.3s;
}
.img-box:hover h3{
  color:rgb(255, 166, 0);
}
.img-box img{
    width: 100%;
}
.txt{
   display: block;
    margin: 5px;
    padding:10px ;
}
.designbutton{
    display: flex;
    justify-content: center;
    width: 25%;
    padding:5px;
    margin: 10px 0;
    background-color: rgb(13, 13, 70);
    color: white;
    text-transform:uppercase ;
   
}
.img-box h3{
    margin: 10px 0;
}
.AUTHOR{
    display: flex;
    gap: 20px;
    align-items: center;
}
.AUTHOR img{ 
    width: 10%;
    margin: 20px 0;
    
}
.Registeration {
    width: 100%;           
    background-color: rgb(13, 13, 70);
    padding: 40px 0;  
    display: flex;  
    justify-content: space-around;
}
.qutu{
    display: block;
    width: 40%;
   /* background-color: #fff;*/
    margin: 100px ;
}
.littleboxes{
    display: flex;
    gap: 35px;
}
.littlebox{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    width: 125px;
    padding: 35px 10px;
    border-radius: 5px ;
    background-color: rgb(56, 59, 86);
    font-size: 25px;
    border: 1px solid white;
    box-shadow:0 0 10px #fff;
}
.registerinformation p{
    margin: 20px 0 50px;
    text-align: left;
    color: white;
}
.registerinformation h1{
    color: white;
    font-size: 50px;
}
.form-box{
    display: block;
    background-color: white;
    width: 325px;
    height: 325px;
    margin:70px 100px 30px 70px ;
    padding: 20px;
   
}
.form-box h3{
    color: rgb(13, 13, 70); 
    font-size: 25px;
    text-align: center;
}
.form-box p{
    text-align: center;
    color: rgb(170, 169, 169);
    font-size: 15px;
}
form input, 
form label{
 display: block;
 outline: none;
 border: none; 
}
form input{
    border-bottom: 1px solid grey;
}
form{
    margin: 40px auto;
}
form input {
     width: 100%;
     border-bottom: 1px solid grey;
     padding: 10px 0;
     margin: 10px 0;
}
.button input{
    margin: 20px 0;
    padding: 10px;
    color:rgb(17, 17, 134); 
    background-color: rgb(255, 166, 0);
    font-weight: bold;}
   
.button input:hover{
  color:rgb(255, 166, 0);
  background-color: rgb(17, 17, 134); 
  transition: 0.3s;
}
.Trainerboxs{
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 10px;
}
.Trainerbox{
   width:250px;
   text-align: center;
}
.Trainerbox:hover{
   box-shadow:0 0 20px #d3d1d1;
}
.Trainerbox img{
    width: 100%;
}
.personalinformation{
    padding: 10px ;
}
.lastline{
    margin: 10px 0;
}
.sosialmedia{
    margin: 20px 0;
}
.sosialmedia a{
    color: lightgrey;
   
}
.sosialmedia i:hover{
    color: orange;
    transition: 0.3s;
}
.foother{
background-color: rgb(13, 13, 70);}
.listboxs{
    display: flex;
    justify-content: center;
    gap: 90px;
    padding: 100px;
}
.foother a {
    color: rgb(182, 176, 176);
    display: block;
    margin: 25px 0;
}
.Newsletter form{
    display: flex;
}
.Newsletter p{
    color: rgb(182, 176, 176);;
}
.listboxs h3{
    margin: 30px 0;
    color: white;
}
.theend{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 60px;
}
.sosialmedia{
    display: flex;
    justify-content: center;
    align-items: center;
}
