*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;

}
.inform{
   /*background-color: black;*/
   width: 60%;
   margin: 50px 600px;
    
}
.navigation{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.navigation a{
    color: #fff;
}
.img-box{
    color: white;
    width: 100%;
    height: 500px;
    background-image: url(../images/sekil3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
}

.button{
    margin: 20px 0;
}
.button button{
    padding: 10px 20px;
    background-color: orange;
    color: #fff;
    font-weight: bold;
}
.container{
    width: 1200px;
    margin: 0 auto;
}
.boxes{
    margin: 20px 0 ;
    display: flex;
    width: 100%;
    justify-content: space-around;
    gap: 20px;
    /*background-color: black;*/
}
.box{
    width: 500px;
    background-color: lightgrey;
    padding: 20px;
}
.join{
    margin-top:20px ;
    text-align: center;
}